@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  transition-duration: .5s
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

 --bg: #111;
 --secondary: #222;
   background: var(--bg);
  height: 100vh;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
.btn_hero{
  transition: all .4s;
}
.btn_contact{
  transition: all .4s;
}
.btn_href{
  transition: all .4s;
}
.btn_hero:hover{
  
  transform: translate(0, -3px);
  box-shadow: 0 20px 80px -10px rgb(236 72 153);
}
.btn_href:hover{
  transform: translate(0, -3px);
  box-shadow: 0 20px 80px -10px #222;
}
.btn_contact:hover{
  transform: translate(0, -3px);
  box-shadow: 0 20px 80px -10px rgb(249 168 212);
}