@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  transition-duration: .5s
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

 --bg: #111;
 --secondary: #222;
   background: var(--bg);
  height: 100vh;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
